
name: Unit Test

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: cache node_modules
      id: node_modules_cache_id
      uses: actions/cache@v2
      with:
          path: '**/node_modules'
          key: modules-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            modules-${{ hashFiles('**/yarn.lock') }}
            modules-
            
    - name: install
      if: steps.node_modules_cache_id.outputs.cache-hit != 'true'
      run: yarn install --frozen-lockfile

    - name: test
      run: yarn test
